@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    background-color:#9f75bd;
    color:white;
    display:flex;
    height:100vh;
    justify-content:center;
    align-items: center;
    margin:0;
}

.counter-container{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin:10px 30px;
}

.counter-container .counter{
    margin-top: 10px;
    font-size: 60px;
}
@media(max-width:580px){
    body{
        flex-direction: column;
    }


}